doctype html
html
  head
    title Boxing Odds
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  body
    .container
      h1.text Sorry, there was an error loading the page.
      text-center
        a(class='btn btn-primary center-block', href='/') Back to Homepage
