doctype html
html
  head
    title= 'Is it Prime?'
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  body
    h1.class.text-center  Is #{query} prime?
    h1.class.text-center.display-1  #{response}
    h2.class.text-center  Result retrieved from #{source}
    div(style='text-align:center')
      a(href='/', class='btn btn-primary btn-lg') Back to Homepage
